<div class="row">
	<div class="breadcrumb-path">People <i class="fa-solid fa-chevron-right"></i> {{ node.field_people_primary.entity.name.value }}</div>
	<div class="col-xs-5 col-sm-3 col-md-2">
		<img class="shadow mb-5 rounded" src={{ node.field_people_image.entity.uri.value | image_style('people') }} alt={{ node.field_people_image.alt }} />
	</div>
	<div class="col-xs-7 col-sm-9 col-md-10">
		<div class="people-name">{{ node.field_people_firstname.value }} {{ node.field_people_lastname.value }}</div>
		<div class="people-affiliation">{{ node.field_people_affiliation.value }}</div>
		<div class="people-area-research"><span class="label-upper">Area of research: </span> {{ node.field_people_research_group.entity.name.value }}</div>
		<div class="people-extn"><i class="fa-solid fa-phone"></i>+91 80 4653 {{ node.field_people_extn.value }} &nbsp;&nbsp;<i class="fa-solid fa-location-dot"></i> {{ node.field_people_office.value }}</div>
		<div class="people-email"><i class="fa-solid fa-envelope"></i>{{ node.field_people_email.value }}</div>
		<div class="people-website"><i class="fa-solid fa-earth-asia"></i><a href={{ node.field_people_website.uri }} target="_blank">Personal Webpage</a></div>
	</div>
</div>
<div class="border"></div>
<div class="people-desc">
	{{ node.field_people_desc.value | check_markup(node.field_people_desc.format) }}
</div>
